﻿
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        var balance = $('#balance-li');
        if (balance != null) {
            loadPartialView();
            window.setInterval("loadPartialView()", 3000);
        }
    });
    function loadPartialView() {
        $.ajax({
            url: '/Account/BalanceUser',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                $('#Balance').html(result);
            }
        });
    };
</script>

@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li id="balance-li">
                @Html.ActionLink(" ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", id = "Balance"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
