﻿@using PWSystem.Models.ViewModels
@model PWSystem.Models.ViewModels.TransactionViewModel

@{
    ViewBag.Title = "Home Page";
    var response = (ResponseViewModel<TransactionViewModel>)ViewBag.Response;
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
}

<head>
    @Scripts.Render("~/bundles/jquery")


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@  
    <script type="text/javascript">
        $(document).ready(function () {  
            $("#Recipient").autocomplete({  
                source: function(request,response) {  
                    $.ajax({  
                        url: "/Home/AutocompleteSearch",  
                        type: "GET",  
                        dataType: "json",  
                        data: { search: request.term },  
                        success: function (data) {  
                            response($.map(data, function (item) {  
                                return { label: item, value: item};  
                            }))  
  
                        }  
                    })  
                },  
                messages: {  
                    noResults: "", results: ""  
                }  
            });  
        })  
    </script>
    <script type="text/javascript">
        $("body").on("dblclick",
            "#WebGrid td",
            function () {
                var row = $(this).closest("tr");
                $("#WebGrid td").css("background-color", "white");
                row.find("td").css("background-color", "Aqua");

                var user = document.getElementById('Recipient');
                user.value = row.find("td").eq(2).html();
                var amount = document.getElementById('Amount');
                amount.value = row.find("td").eq(0).html();
            });
    </script>
</head>

<div class="row">
    <h4>Transactions</h4>
    <hr />
    <div class="col-md-6">
        @{
            var bind = grid.Bind(source: response.Result, rowCount: response.CurrentCount, autoSortAndPage: false);
        }
        @grid.GetHtml("table",
            columns: grid.Columns(
                grid.Column("Amount"),
                grid.Column("ExecutionDate"),
                grid.Column("Recipient")
            ),
            htmlAttributes: new { id = "WebGrid" }
        )
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("CreateTransaction", "Home", FormMethod.Post)) {
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <p class = "text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                @Html.LabelFor(m => User, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @*<input type="text" name="name" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Home")' />*@
                    @*@Html.TextBoxFor(m => m.ToUserId, new { @class = "form-control", id = "user", autocomplete = @Url.Action("AutocompleteSearch", "Home") })*@
                    @Html.EditorFor(model => model.Recipient, new { htmlAttributes = new { @class = "form-control", id = "Recipient" } })
                    @Html.ValidationMessageFor(m => m.Recipient, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control required numeric", id = "Amount" })
                    @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create Transaction" class="btn btn-default" />
                </div>
            </div>

        }
    </div>
</div>
